@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.banner{
  width: 100%;
  display: flex;

  height: 974px;
  .left{
    width:45%;
    text-align: start;

    padding:300px 150px;
    font-family: 'Roboto';
    h2{
      font-weight: 700;
      font-size: 45px;
    }
    .title{
      font-weight: 400;
      font-size: 30px;
    }
    .note{
      font-size: 16px;
    }
  }
  .right{
    width: 55%;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 200px;

    align-items: center;
    img{
      width: auto;

      height: auto;
      max-width: 50vw;

      padding-left: 80px;
      align-items: center;
    }

  }
}