.footer{

  width: 100%;
  background-color: #FAFAFA;
  margin-top: 150px;
  .content{

    display: flex;
    width: 70%;

    margin: 0 auto;
    justify-content: space-between;
    .items{
      ul{
        list-style: none;
        li{
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;

          padding: 10px 25px;
          i{
            color: #e8d34b;
          }
        }
        .title{
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;

        }
      }
    }
  }

}