.item{
  background: #FFFFFF;
  box-shadow: 0px -4px 7px rgba(0, 0, 0, 0.25);
  width: 540px;
  height: 440px;
  img{
    width: 539px;
    height: 195px;
  }
  .item_blog_title{
    font-size: 20px;
    font-family: 'Roboto';
    color: #0E2B5C;
    padding-left: 30px ;
    padding-right: 90px;
    padding-top: 10px;
  }
  .item_blog_border{
    margin-left: 30px;
    width: 84px;
    height: 2px;
    border: 3px solid #DCDADA;

  }

  .item_blog_content{
    font-size: 16px;
    color: #333333;
    padding-left: 30px;
  }
  .item_blog_discoverMore{
    padding-left: 30px;
  }
}
.item_blog_border:hover{
  border: 3px solid  #F36218;
}