.discoverMore{
    color: #333333;
  display: flex;
  font-size: 20px;
  .icons{
    border: 1px solid #333333;
    width: 30px;
    height: 30px;

    padding-top: 13px;

    border-radius: 30px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 18px;
    padding-right: 24px;
    margin-right: 50px;
    span{
      margin-top: -10px;

      width: 7px;

    }

  }


}
.icons:hover{
  color: #F36218;
  border: 1px solid #F36218;
}
