.reasonsItem{
  width: 300px;
  height: 170px;
  .icons{
    font-size: 100px;
    color:#e8d34b ;
  }
  .content{
    .content_title{
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 400;
      text-align: center;
    }
  }

}
