.profile{
    width: 255px;
    height: 305px;
  .profile_info{
    width: 100%;
    height: 83px;
    margin-top:-83px;
    opacity: 0.5;
    background-color: #989494;
    text-align: center;
    .title{
      font-size: 16px;
      font-weight: bold;
      padding-top: 10px;
      color: #333333;
    }
    .duty{
      font-size: 14px;
      font-weight: 400;
    }
  }
}
