$media-tablet-horizontal: "only screen and (max-width : 1160px)";
$media-tablet-vertical: "only screen and (max-width : 900px)";
$media-ipad: "only screen and (max-width : 768px)";
$media-phone: "only screen and (max-width : 767px)";
$media-small-phone: "only screen and (max-width : 320px)";

//$main-color: #B40013;
$main-color: #0000B9;
$nav-bg-color: #000000;
$sub-color: #000000;
$image-bg-color: #E7E7E7;
$btn-color: #000000;

