.teamwork{

  width: 100%;
  .teamwork_title{
    width: 70%;
    padding:20px 150px;
    border-bottom: 2px solid   #DCDADA;
    text-align: center;
    font-family: "Roboto";
    margin: 0 auto;
    .title__teamwork{

      font-size: 34px;
      font-weight: 400;
    }
    .content__teamwork{
      color: #FF6495;
      font-size: 14px;
      font-weight: 400;
    }
    .button__teamwork{
      display: flex;
      align-items: center;
      padding: 20px 150px;
      a{
        text-align: center;
        color: #F36218;
        font-size: 20px;
        text-decoration: none;
        margin: 0 auto;
      }
      :hover{
        border-bottom: 1px solid  #F36218;
        cursor: pointer;
      }
    }
  }

  .teamwork_profile{
    padding-top: 50px;
    width: 100%;
    padding-left: 340px;
    display: grid;
    grid-template-columns: 305px 305px 305px 305px;
    grid-template-rows: 260px;
    grid-column-gap: 20px;
  }

}
