.blog_head{
  width: 100%;
  padding-top: 80px;
  p{
    text-align: center;
  }
  .blog_head_title{
    font-size: 34px;
    font-weight: 400;
  }
  .blog_head_note{
    color: #FF6495 ;
    font-size: 12px;
    padding: 5px 300px;
  }
}
.blog_item{
  display: grid;
  grid-template-columns: 536px 536px ;
  grid-template-rows: 340px;
  grid-column-gap: 20px;
  padding: 20px 420px;
}