.item{
    border: 1px solid #DADADA;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    width: 360px;
    height: 360px;

    img{
        width: 300px;
        height: 210px;
        padding: 20px 18px;
        margin-left: 30px;
    }
    p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;

        text-align: center;
        text-transform: capitalize;



        color: #0E2B5C;
    }
}