.section{
  width: 100%;
  display:flex;
  padding-top: 150px;
  .section__left{
    width: 40%;
    margin-left: 10%;


    .title{
      font-family: "Roboto";
      font-size: 34px;
      font-weight: 400;
      padding: 20px 100px;
    }
    .note{
      padding-left: 100px;
      color: #FF6495;
      font-size: 12px;
      font-family: "Roboto";
    }
    .content{
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 400;
      padding-left: 100px;
      padding-right: 0px;
    }
    .discover{
      margin-left: 100px;
      text-align: center;
      padding: 20px 180px;
    }
    :hover{
      text-decoration: none;
    }
  }
  .section__right{

    box-sizing: border-box;
    overflow: hidden;
    width: 40%;
    margin-left: 10%;
    img{
      width: 570px;
      height: 440px;
      padding-top: 20px;
      margin-right:200px ;
    }
  }
}
