.reasons{
  width: 100%;
  margin-bottom: 150px;
  padding-top: 200px;
  .reason_title{
    width: 100%;
    text-align: center;
    .title__reason{
      font-size: 34px;
      font-weight: 400;
      width: 484px;
      height: 80px;
      margin: 0 auto;

      text-align: center;
    }
    .title__choose{
      padding-top: 40px;
      font-size: 14px;
      color: #FF6495;
    }
  }
  .reason_item{
    padding-top: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 170px;
    grid-column-gap: 50px;
    padding-left: 500px;
  }
}