.whatWeDo{
  width: 100%;

  .whatWeDo_content{

    width: 100%;
    .title{
      text-align: center;
      color: #333333;
      font-size: 34px;
      font-weight: 400;
    }
    .content{
      text-align: center;
      color: #FF6495;
      font-size: 14px;
      font-weight: 400;
      width: 70%;
      margin: 0 auto;
    }
    ul{
      list-style: none;
      display: flex;
      margin: 0 auto;
      padding: 10px 900px;

      li{
        width: 6px;
        height: 6px;
        background: #FF6495;
        margin-left: 15px;
        border-radius: 6px;
      }
    }
  }
  .whatWeDo_item{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 360px;
    grid-column-gap: 21px;
    padding: 20px 400px;
  }

}